<div fxLayout="column" fxFlex>

  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>{{dict['title']}}</span>
      <span class="example-spacer"></span>
      <button mat-icon-button color="white" (click)="openManyProbesDialog()" *ngIf="advancedMode"><mat-icon>code</mat-icon></button>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container fxFlex>
    <mat-sidenav mode="side" opened>
      <div fxLayout="column">
        <form (ngSubmit)="loadBaseStations()" [formGroup]="form">
          <p>{{dict['base_station']}}</p>
          <mat-form-field>
            <mat-select placeholder="{{dict['state']}}" (change)="loadCityList($event.value)" formControlName="state">
              <mat-option value="{{state}}" *ngFor="let state of states">{{state}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-select placeholder="{{dict['city']}}" formControlName="city">
              <mat-option value="{{city}}" *ngFor="let city of cities">{{city}}</mat-option>
            </mat-select>
          </mat-form-field>
          <div fxLayoutAlign="center"><button type="submit" mat-raised-button color="primary" [disabled]="!form.valid">{{dict['load']}}</button></div>
        </form>
        <mat-divider></mat-divider>
        <p>{{dict['instructions']}}</p>
        <ng-container *ngIf="advancedMode">
          <mat-divider></mat-divider>
          <p>{{dict['settings']}}</p>
          <mat-form-field>
            <input matInput placeholder="{{dict['probe_height']}}" [(ngModel)]="probeHeight" pattern="^(0*[1-9][0-9]*(\.[0-9]+)?|0+\.[0-9]*[1-9][0-9]*)$">
          </mat-form-field>
          <p></p>
        </ng-container>
      </div>
    </mat-sidenav>  
    <div class="content">
      <agm-map 
          [latitude]="lat" 
          [longitude]="lng" 
          (mapClick)="calculateTERAtPoint($event)"
          [clickableIcons]="false"
          [zoom]=10>
        <agm-marker-cluster 
            imagePath="assets/cluster"
            maxZoom="14">
          <agm-marker *ngFor="let bs of nir.baseStations" 
              [latitude]="bs.pos.latitude" 
              [longitude]="bs.pos.longitude"
              [iconUrl]="'assets/bs_at_map.png'"
              (markerClick)="showBSInfo(bs)">
            </agm-marker>
          </agm-marker-cluster>
          <agm-marker *ngIf="show_probe"
            [latitude]="probe.latitude" 
            [longitude]="probe.longitude"
            [iconUrl]="'assets/probe_at_map.png'">
            <agm-info-window [isOpen]="true">
              <div [innerHtml]="ter"></div>
            </agm-info-window>
          </agm-marker>
          <agm-circle
            *ngFor="let probe_ter of ter_on_map"
            [latitude]="probe_ter['probe'].latitude"
            [longitude]="probe_ter['probe'].longitude"
            [radius]="circleRadius"
            [clickable]="false"
            [fillColor]="getColor(probe_ter['ter'])">
          </agm-circle>
        </agm-map>
    </div>
  </mat-sidenav-container>
</div>